$share-names: ('twitter', 'facebook', 'googleplus', 'linkedin', 'pinterest', 'email', 'stumbleupon', 'whatsapp', 'telegram', 'line', 'viber', 'pocket', 'messenger', 'browser_messenger', 'vkontakte', 'rss', 'sms', 'reddit') !default;
$share-colors: (#00aced, #3b5998, #dd4b39, #007bb6, #cb2027, #3490F3, #eb4823, #29a628, #2ca5e0, #25af00, #7b519d, #ef4056, #0084ff, #0084ff, #45668e, #ff9900, #ffbd00, #64a4ff) !default;
$size_wh: 28px !default;
$padding-inner: 8px !default;
$base-size: .9em !default;
$base-padding: 0 !default;
$external-margin: .2em 0 !default;

#bsocial-sharing-element-container{
    .jssocials-shares {
        margin: $external-margin;
    }
    
    .jssocials-shares * {
        box-sizing: border-box;
    }
    
    .jssocials-share {
        position: relative;
        display: block;
        vertical-align: top;
        margin: $base-padding 2*$base-padding $base-padding 0;
        &:hover{
            .jssocials-share-count-box{
                visibility: hidden;
                opacity: 0;
            }
        }
    }
    
    .jssocials-share:last-child {
        margin-right: 0;
    }
    
    .jssocials-share-logo {
        width: 1em;
        vertical-align: middle;
        font-size: $base-size;
    }
    
    img.jssocials-share-logo {
        width: auto;
        height: 1em;
    }
    
    .jssocials-share-link {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        line-height: $size_wh;
        min-width: $size_wh;
        height: $size_wh;

        padding: $padding-inner;
        box-sizing: content-box;
    
        &.jssocials-share-link-count {
            padding-top: .2em;
            .jssocials-share-count {
                display: block;
                font-size: .6em;
                margin: 0 -.5em -.8em -.5em;
            }
        }
    
        &.jssocials-share-no-count {
            padding-top: .5em;
    
            .jssocials-share-count {
                height: 1em;
            }
        }
    }
    
    .jssocials-share-label {
        padding-left: $base-padding;
        vertical-align: middle;
    }
    
    .jssocials-share-count-box {
        position: absolute;
        top: 5px;
        padding: 0px 8px;
        border-radius: 20px;
        left: 75%;
        color: #FFF;
        background: #222;
        transition: .3s ease;
        -webkit-transition: .3s ease;;
        .jssocials-share-count {
            font-size: 70%;
            display: block;
            font-weight: bold;
        }
    }
    
    

    &.bsocial-position-sticky-on-top-left{
        position: fixed;
        left: 0;
        top: 10px;
        z-index: 10;
    }
    &.bsocial-position-sticky-on-center-left{
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        z-index: 10;
    }
    &.bsocial-position-sticky-on-bottom-left{
        position: fixed;
        left: 0;
        bottom: 10px;
        z-index: 10;
    }
}

.bsocial-sharing-ui-flat{
    $flat_link-text-color: #fff !default;
    $flat_count-box-bg: #f5f5f5 !default;
    $flat_count-color: #444 !default;
    $flat_count-arrow-size: .4em !default;
    $flat_count-arrow-offset: $flat_count-arrow-size - .1em !default;
    $flat_transition: background 200ms ease-in-out, border-color 200ms ease-in-out !default;
    
    @for $i from 0 to length($share-names) {
        $social: nth($share-names, $i + 1);
        $background: nth($share-colors, $i + 1);
    
        .jssocials-share-#{$social} .jssocials-share-link {
            background: $background;
            .jssocials-share-label{
                background: lighten($background, 5%);
            }
            &:hover {
                background: lighten($background, 5%);
            }
        }
    }

    .jssocials-share{

    }

    .jssocials-share-link {
        // padding: .5em .6em;
        color:  $flat_link-text-color;
        transition: $flat_transition;
        position: relative;
        &:hover, &:focus, &:active {
            color: $flat_link-text-color;
        }
        .jssocials-share-label{
            position: absolute;
            top: 0;
            left: 100%;
            height: 100%;

            line-height: #{$size_wh + 2px};
            min-width: $size_wh;
            height: $size_wh;

            padding: $padding-inner #{$padding-inner + 10px} $padding-inner 0 !important;
            box-sizing: content-box !important;
            white-space: nowrap;
            font-size: 85%;
            visibility: hidden;
            opacity: 0;
            transition: .3s ease;
            -webkit-transition: .3s ease;
        }
        &:hover{
            .jssocials-share-label{
                opacity: 1;
                visibility: visible
            }
        }
    }

    .jssocials-share-count-box__ {
        position: relative;
        height: 2.5em;
        padding: 0 .3em;
        margin-left: $flat_count-arrow-offset;
        background: $flat_count-box-bg;
        transition: $flat_transition;
    
        &:hover {
            background: darken($flat_count-box-bg, 10%);
    
            &:after {
                border-color: transparent darken($flat_count-box-bg, 10%) transparent transparent;
            }
        }
    
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 1.25em - $flat_count-arrow-size;
            left: -$flat_count-arrow-offset;
            width: 0;
            height: 0;
            border-width: $flat_count-arrow-size $flat_count-arrow-size $flat_count-arrow-size 0;
            border-style: solid;
            border-color: transparent $flat_count-box-bg transparent transparent;
            transform: rotate(360deg);
            transition: $flat_transition;
        }
    
        .jssocials-share-count {
            line-height: 2.5em;
            color: $flat_count-color;
        }
    }
}

.bsocial-sharing-has-animate{
    .jssocials-shares{
        .jssocials-share{
            @for $i from 1 to 20 {
                &:nth-child(#{$i + 1}) {
                    transition-delay: #{$i / 8}s;
                    -webkit-transition-delay: #{$i / 8}s;
                }
            }
            transition: .8s cubic-bezier(.66,-0.12,.21,1.34);
            -webkit-transition: .8s cubic-bezier(.66,-0.12,.21,1.34);
            opacity: 0;
            visibility: hidden;
        }
    }
    &._active-animate{
        .jssocials-shares{
            .jssocials-share{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.bsocial-position-sticky-on-top-left,
.bsocial-position-sticky-on-center-left,
.bsocial-position-sticky-on-bottom-left{
    .bsocial-sharing__inner{
        transition: .3s ease;
        -webkit-transition: .3s ease;
    }
    .__bss-toggle-social-sharing{
        position: absolute;
        border-bottom: 1px solid #222;
        top: 50%;
        font-weight: bold;
        right: 0;
        white-space: nowrap;
        transform: translateY(-50%) rotate(-90deg);
        -webkit-transform: translateY(-50%) rotate(-90deg);
        font-size: 11px;
        padding: 5px 3px;
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        span{
            margin-left: 4px;
            transition: .3s ease;
            -webkit-transition: .3s ease;
        }
    }

    .bsocial-sharing-has-animate{
        .jssocials-shares{
            .jssocials-share{
                transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
            }
        }
        &._active-animate{
            .jssocials-shares{
                .jssocials-share{
                    transform: translateX(0);
                    -webkit-transform: translateX(0);
                }
            }
        }
    }
 
    @media (max-width: 767px) { 
        .bsocial-sharing__inner{
            transform: translateX(calc(-100% + 2px)) !important;
            -webkit-transform: translateX(calc(-100% + 2px)) !important;
            ~ .__bss-toggle-social-sharing{
                visibility: visible !important;
                opacity: 1 !important;
            }

            &.__is-toogle-true{
                transform: translateX(0) !important;
                -webkit-transform: translateX(0) !important;
                ~ .__bss-toggle-social-sharing{
                    visibility: visible !important;
                    opacity: 1 !important;
                    right: -45px;
                    span{
                        transform: rotate(-180deg);
                        -webkit-transform: rotate(-180deg);
                    }
                }
            }
        }
    }
}